@using System.Text
@using CLS_SLE.Models
@model CLS_SLE.ViewModels.SchedulingViewModel
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/bootstrap-select")


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
        <li class="breadcrumb-item active" aria-current="page">Configure Semester</li>
    </ol>
</nav>


<h2>Configure Semester</h2>

<div class="container">
    <div class="row half-indent">
        <div class="col-6 mt-4 border-bottom">
            <h3>Semester Information</h3>
        </div>
    </div>
    <div class="row half-indent mb-3">
        <div class="col-6 mt-4">
            <p class="col-6 mb-1 pl-0">Select Semester:</p>
            <select class="form-control col-6 ml-1">
                <option>Fall 2020</option>
                <option>Spring 2021</option>
                <option>Summer 2021</option>
            </select>
        </div>
    </div>
    <div class="row half-indent">
        <div class="col-6 mt-4 border-bottom">
            <h3>Set Default Timeframe</h3>
        </div>
    </div>
    <div class="row half-indent">
        <div class="col-6 mt-4">
            <p class="col-6 mb-1 pl-0">Start Date:</p>
            <div class="bg-light p-2 col-10 row ml-2 mb-4">
                <input type="number" class="form-control col-4 ml-1" />
                <span class="col-7 align-self-center">Days Before Section Ends</span>
            </div>
            <p class="col-6 mb-1 pl-0">End Date:</p>
            <div class="bg-light p-2 col-10 row ml-2 mb-4">
                <input type="number" class="form-control col-4 ml-1" />
                <span class="col-7 align-self-center">Days After Section Ends</span>
            </div>
        </div>
    </div>
    <div class="row half-indent">
        <div class="col-6 mt-4 text-center">
            <button class="btn btn-outline-dark">Cancel</button>
            <button class="btn btn-success ml-1">Configure Semester</button>
        </div>
    </div>
</div>
