@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Welcome Joe Faculty</h1>

    <h2>Your Assessments</h2>

    <h3>CLS Assessments</h3>

    <div class="clsAssessments">
        <div class="class">
        <table>
            <tr>
            <td class="col-xs-8">Communication Summative Assessment for 123-123-12345 Communication</td>
            <td class="col-xs-2">Due 10/24</td>
            <td class="col-xs-2">(In Progress)</td>
            <td class=""><a>Assess</a></td>
            </tr>
            <tr>
            <td class="col-xs-8">Relationship Summative Assessment for 123-123-123456 Relationship Management</td>
            <td class="col-xs-2">Due 10/24</td>
            <td class="col-xs-2">(Complete)</td>
            <td class=""><a>Assess</a></td>
            </tr>
        </table>
        </div>
    </div>

    <h3>TSA Assessments</h3>

    <div class="tsaAssessments">
        <div class="class">
        <table>
            <tr>
            <td class="col-xs-8">Awesome Program TSA Assessment for 321-123-34567 Awesome Program Capstone</td>
            <td class="col-xs-2">Due 12/31</td>
            <td class="col-xs-2">(Not Started)</td>
            <td class=""><a>Assess</a></td>
            </tr>
        </table>
        </div>
    </div>
</div>