@{
    ViewBag.Title = "TSA Assessment";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<h3>Awesome Program TSA Assessment for 321-123-34567 Awesome Program Capstone</h3>

<h4>All about this TSA Assessment. Enter a score for each student</h4>

<br>

<table width="100%" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Students</th>
            <th class="text-center">Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center col-lg-3">Student 1</td>
            <td class="text-center">Not Started</td>
        </tr>
        <tr id="student2">
            <td class="text-center col-lg-7">Student 2</td>
            <td class="text-center">Not Started</td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Student 3</td>
            <td class="text-center">Not Started</td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Student 4</td>
            <td class="text-center">Not Started</td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Student 5</td>
            <td class="text-center">Not Started</td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Student 6</td>
            <td class="text-center">Not Started</td>
        </tr>
    </tbody>
</table>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="criteriaModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Student 4</h2>
            </div>
            <div class="modal-body" id="confirmText" style="overflow-y:auto">
                <table>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 1</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 2</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 3</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 4</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 5</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 6</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 7</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 8</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 9</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 10</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 11</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 12</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 13</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center col-lg-8">Criteria 14</td>
                        <td class="text-center">
                            <label for="metCriteria1">Met</label>
                            <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                            <label for="notMetCriteria1">Met</label>
                            <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                            <label for="notAssessedCriteria1">Not Assessed</label>
                            <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="modal-footer">
                <input type="button" value="Mark as Complete">
                <input type="button" value="Cancel" id="cancel">
                <input type="button" value="Save Progress">
            </div>
        </div>
    </div>
</div>



<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"];
});
</script>

@section scripts
{
    <script>
        $('#student2').on('click', function () {
            $('#criteriaModal').modal();
        });
    </script>
}