@{
    ViewBag.Title = "TSA Assessment";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<h3>Awesome Program TSA Assessment for 321-123-34567 Awesome Program Capstone</h3>

<h4>All about this TSA Assessment. Enter a score for each student</h4>

<div ng-app="myApp" ng-controller="myCtrl">
    <select ng-model="selectedName" ng-options="x for x in names"></select>
</div>

<br>

<table width="100%" class="table-bordered">
    <thead>
        <tr>
            <th colspan="2" class="text-center"><h2>Student 3</h2></th>
        </tr>
        <tr>
            <th>Criteria</th>
            <th class="text-center">Grading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center col-lg-7">Criteria 1</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Criteria 2</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Criteria 3</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Criteria 4</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Criteria 5</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
        <tr>
            <td class="text-center col-lg-7">Criteria 6</td>
            <td class="text-center">
                <label for="metCriteria1">Met</label>
                <input type="radio" name="metCriteria1" id="metCriteria1" style="margin-right:20px">

                <label for="notMetCriteria1">Met</label>
                <input type="radio" name="notMetCriteria1" id="notMetCriteria1" style="margin-right:20px">

                <label for="notAssessedCriteria1">Not Assessed</label>
                <input type="radio" name="notAssessedCriteria1" id="notAssessedCriteria1">
            </td>
        </tr>
    </tbody>
</table>

<br>
<input type="button" value="Mark as Complete">
<input type="button" value="Cancel" id="cancel">
<input type="button" value="Save Progress">


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"];
});
</script>

@section scripts
{
    <script>
        $('#cancel').on('click', function () {
            location.href = "/Home/FacultyLandingPage";
        });
    </script>
}