@using CLS_SLE.Models;
@{
    ViewBag.Title = "CLSAssessment";
}

<h2>CLS Assessment</h2>

<table class="table">
    <tbody>
        @foreach(Outcome o in Model.Criteria)
        {
            <tr id="outcome_@o.OutcomeID">
                <td>@o.Name</td>
                <td>
                    @foreach(ScoreType i in Model.Selectors)
                    {
                        <label for="selector_@i.ScoreTypeID">&nbsp;@i.Description</label>
                        <input type="radio" id="selector_@i.ScoreTypeID" name="selector_@i.ScoreTypeID">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>