@using CLS_SLE.Models;
@{
    ViewBag.Title = "CLS Assessment";
    var r = Model.Rubric;
}

<h2>
    @r.AssessmentName
</h2>

<table class="table">
    <tbody>
        @foreach(Outcome o in Model.Criteria)
        {
            <tr id="outcome_@o.OutcomeID">
                <td>@o.Name</td>
                <td>
                    @foreach(ScoreType i in Model.Selectors)
                    {
                        <label for="selector_@i.ScoreTypeID@o.OutcomeID">&nbsp;@i.Description</label>
                        <input type="radio" id="selector_@i.ScoreTypeID@o.OutcomeID" name="@o.OutcomeID">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>