@model IEnumerable<CLS_SLE.Models.RubricDetail>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstructorAssessment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RubricDetail)
        </dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
