
@{
    ViewBag.Title = "Edit";
}

<h2>Edit User</h2>

<form action="CreateUser" method="post">
    <div class="form-group">
        <label for="fName">First Name:</label><br />
        <input type="text" id="fName" name="fName" />
        <br />
        <label for="lName">Last Name:</label><br />
        <input type="text" id="lName" name="lName" />
        <br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" />
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>