
@{
    ViewBag.Title = "Index";
}
@using CLS_SLE.Models;
@model IEnumerable<User>

<h1>Users</h1>

<div class="container">
    <br />
    <div class="row px-3">
        <h5 class="col ml-auto text-right p-0"><a href="~/Admin/ViewUsers"> Manage User Roles</a></h5>
    </div>

    <div class="text-danger" asp-validation-summary="All"></div>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="col">Login</th>
                <th class="col">Name</th>
                <th class="col"></th>
                <th class="col justify-content-end"></th>
            </tr>
        </thead>
        @{ if (Model.Count() == 0)
            {
                <tr><td colspan="3" class="text-center">No Users</td></tr>
            }
            else
            {
                foreach (var User in Model)
                {

                    <tr>

                        <td>@User.Login</td>
                        <td>@User.Person.LastName, @User.Person.FirstName</td>
                        <td class="text-right">
                                <a href="/AdminUser/Edit?ID=@User.PersonID"><button type="button" class="btn btn-primary">Edit</button></a>
                        </td>
                        <td class="text-right">
                            <form action="~/AdminUser/Activate" method="post">
                                <input type="hidden" name="id" value="@User.PersonID" />
                                @if (User.IsActive)
                                {
                                    <button type="submit" class="btn btn-danger">Inactivate</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-success">Activate</button>
                                }
                            </form>
                        </td>

                    </tr>

                }
            }
        }
    </table>

    <a href="/AdminUser/Create"><button type="button" class="btn btn-success">Create</button></a>
    <hr />

