@using CLS_SLE.Models;

@{
    ViewBag.Title = "View Scores";
}

<h2>@Model.ScoreSetID</h2>
<br />
@foreach (var item in Model.score)
{
<div class="row">
    <p class="col-6">@item.Description</p>
    <p class="col-6">@item.Value</p>
</div>
}
<label>Score Sets</label>
<br />
<table class="table table-hover">
    <tbody>
        @foreach (Score scoreSet in Model.sets)
        {
        <tr>
            <td class="col-10">@scoreSet.Name </td>
            <td class="col-2">
                <a href="/AdminAssessments/AddScoreSet?ScoreSetID=@scoreSet.ScoreSetID" class="btn btn-primary">View</a>
                @*@Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })*@
            </td>
        </tr>

        }
    </tbody>
</table>