@model CLS_SLE.Models.ErrorMessage
@{
    ViewBag.Title = "Error";
}

@if ((Model == null) || !Model.HasErrorMessage && (Model.SLEError == CLS_SLE.Controllers.SLEError.Undefined))
{
    <div class="font-md"><h1>Error Occured at Sign-In</h1></div>
}
else
{
    <div class="font-md">
        <h1>
            You currently are not configured for this system.
        </h1>
        Please contact your instructional manager if you feel this is an error.

    </div>
}
<iframe src="https://eis-dev.ec.wctc.edu/samlsso" hidden="hidden"></iframe>
<br />
<br />
<div class="well">
    <div><a href="@Model.LogoutURL">Return to Sign-in</a></div>
</div>
