
@{
    ViewBag.Title = "Error";
}

<div class="font-md"><h1>Error Occured at Sign-In</h1></div>
<div class="well">
    <div><a href="~/User/SignIn">Return to Sign-in</a></div>
    <div><a href="~/User/PasswordReset">Forgot password?</a></div>
</div>
