<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="SsoAssertionConsumerServiceURL" value="https://sle.wctc.edu/User/Consume" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SsoIssuerApplicationName" value="SLE_Assessment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SsoCertificate" value="MIICNTCCAZ6gAwIBAgIES343gjANBgkqhkiG9w0BAQUFADBVMQswCQYDVQQGEwJVUzELMAkGA1UE CAwCQ0ExFjAUBgNVBAcMDU1vdW50YWluIFZpZXcxDTALBgNVBAoMBFdTTzIxEjAQBgNVBAMMCWxv Y2FsaG9zdDAeFw0xMDAyMTkwNzAyMjZaFw0zNTAyMTMwNzAyMjZaMFUxCzAJBgNVBAYTAlVTMQsw CQYDVQQIDAJDQTEWMBQGA1UEBwwNTW91bnRhaW4gVmlldzENMAsGA1UECgwEV1NPMjESMBAGA1UE AwwJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCUp/oV1vWc8/TkQSiAvTou sMzOM4asB2iltr2QKozni5aVFu818MpOLZIr8LMnTzWllJvvaA5RAAdpbECb+48FjbBe0hseUdN5 HpwvnH/DW8ZccGvk53I6Orq7hLCv1ZHtuOCokghz/ATrhyPq+QktMfXnRS4HrKGJTzxaCcU7OQID AQABoxIwEDAOBgNVHQ8BAf8EBAMCBPAwDQYJKoZIhvcNAQEFBQADgYEAW5wPR7cr1LAdq+IrR44i QlRG5ITCZXY9hI0PygLP2rHANh+PYfTmxbuOnykNGyhM6FjFLbW2uZHQTY1jMrPprjOrmyK5sjJR O4d1DeGHT/YnIjs9JogRKv4XHECwLtIVdAbIdWHEtVZJyMSktcyysFcvuhPQK8Qc/E/Wq8uHSCo=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SsoLoginURL" value="https://eis-prod.ec.wctc.edu/samlsso" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SsoLogoutURL" value="https://eis-prod.ec.wctc.edu/samlsso" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" xdt:Transform="Replace">
        <network host="10.1.3.214" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="SLE to HTTPS" patternSyntax="ExactMatch">
          <match url="http://sle.wctc.edu" />
          <action type="Rewrite" url="https://sle.wctc.edu" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <connectionStrings xdt:Transform="Replace">
    <add name="SLE_TrackingEntities" connectionString="metadata=res://*/Models.SLE_TrackingModel.csdl|res://*/Models.SLE_TrackingModel.ssdl|res://*/Models.SLE_TrackingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.106.20;initial catalog=SLE_Tracking;persist security info=True;user id=SleWebApp;password=scQ6j3*HYy6YYY%$;multipleactiveresultsets=True;application name=EntityFramework;Encrypt=True;TrustServerCertificate=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>