body {
    
    font-family: 'Karla', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.student-row, label, input[type=radio] {
    cursor: pointer;
}


.fixed-top {
    /* Prevents the navigation from overlapping the body content */
    z-index: -1;
}

th {
    white-space: nowrap;
}



img {
    /* Drop shadow for images */
    filter: drop-shadow(0px 5px 1px rgba(0,0,0,0.2));
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

/* Sets the size of headers to scale with the screen view width */
h1 {
    text-align: center;
    white-space: nowrap;
    font-size: 2.5vw;
    color: #003e7a;
}

/* prevents h1 from getting crazy big on huge monitors */
@media only screen and (min-width: 2000px) {
    h1 {
        font-size: 3.5em;
    }
}

h2 {
    font-size: 2em;
    font-weight: 200;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
}

/* Remove the background color for the breadcrumb navigation */
.breadcrumb {
    background-color: transparent;
}
/* Prevents the radio description from wrapping with smaller screen sizes */
.form-check .desc {
    white-space: nowrap;
}

.right {
    float: right;
}