@using CLS_SLE.Models;
@{
    /**/

    ViewBag.Title = "Programs";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs/Courses Dashboard", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">Programs</li>
    </ol>
</nav>
<h1>Programs</h1>
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="h3">Programs</th>
            <th scope="col" class="text-right">Description</th>
            <th scope="col" width="10%"><a class="float-right" href="/AdminPrograms/AddProgram"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add New Program</button></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Program program in Model)
        {
            if (program.IsActive.Equals(false))
            {
                <tr>
                    <td colspan="2">@program.Name <span class="text-danger">(Not Active)</span></td>
                    <td class="text-right">
                        <a href="ViewProgram?programId=@program.ProgramID"><button type="button" class="btn btn-primary">View</button></a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="2">@program.Name</td>
                    <td class="text-right">
                        <a href="ViewProgram?programId=@program.ProgramID"><button type="button" class="btn btn-primary">View</button></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
