@model String

<div class="h2">Create Role</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Role Name</label>
        <input name="name" class="form-control" />
        <label for="desc">Role Description</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Create</button>
    <a href="~/RoleAdmin/Index" class="btn btn-outline-secondary">Cancel</a>
</form>