@model String

<div asp-validation-summary="All" class="text-danger"></div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Manage Roles", "ManageRoles", "RoleAdmin")</li>
        <li class="breadcrumb-item active" aria-current="page">New Role</li>
    </ol>
</nav>
<h2>Create Role</h2>
<br />

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Role Name</label>
        <input name="name" class="form-control" />
        <label for="desc">Role Description</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Create</button>
    <a href="~/RoleAdmin/ManageRoles" class="btn btn-outline-secondary">Cancel</a>
</form>