@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using CLS_SLE.Models;
@model IEnumerable<Role>

<div class="bg-primary m-1 p-1 text-white"><h4>Roles</h4></div>

<div class="text-danger" asp-validation-summary="All"></div>

<table class="table table-sm table-bordered">
    <tr><th>Id</th><th>Name</th><th></th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No Roles</td></tr>
    }
    else
    {
        foreach (var UserRole in Model)
        {
            <tr>
                <td>@UserRole.RoleID</td>
                <td>@UserRole.Name</td>
                <td>
                    <form action="~/RoleAdmin/Delete" method="get">
                        @if (UserRole.RoleID > 2)
                        {
                            <a class="btn btn-sm btn-outline-primary" action="~/RoleAdmin/Edit" asp-route-id="@UserRole.RoleID">Edit</a>
                            if(Model.Count(u => u.RoleID == UserRole.RoleID) >= 1){
                                <a class="btn btn-sm btn-outline-danger" href="~/RoleAdmin/Confirm?id=@UserRole.RoleID">Delete</a>
                                }
                            }
                        </form>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-outline-primary" href="~/RoleAdmin/Create">Create</a>
<hr />
<a href="~/Admin/UsersSecurity">User Accounts</a>