@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using CLS_SLE.Models;
@model IEnumerable<Role>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">User Security</li>
    </ol>
</nav>

<h1>Roles</h1>

<div class="container">
    <br />
    <div class="row px-3">
        <h5 class="col-2 ml-auto text-right p-0"><a href="~/Admin/ViewUsers"> Manage Users</a></h5>
    </div>

    <div class="text-danger" asp-validation-summary="All"></div>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="col">ID</th>
                <th class="col">Name</th>
                <th class="col"></th>
                <th class="col justify-content-end"></th>
            </tr>
        </thead>
        @{ if (Model.Count() == 0)
            {
                <tr><td colspan="3" class="text-center">No Roles</td></tr>
            }
            else
            {
                foreach (var Role in Model)
                {
                    
                <tr>
                    
                        <td>@Role.RoleID</td>
                        <td>@Role.Name</td>
                        <td class="text-right">
                            @if (Role.RoleID > 2)
                            {
                            <a href="/RoleAdmin/Assign?ID=@Role.RoleID"><button type="button" class="btn btn-primary">Edit</button></a>
                            }
                        </td>
                        <td class="text-right">
                            <form action="~/RoleAdmin/Delete" method="post">
                                @if (Role.RoleID > 2 && Role.UserRoles.Count() == 0)
                                {
                                <input type="hidden" name="id" value="@Role.RoleID"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                                }
                            </form>
                        </td>
                    
                </tr>
                    
                }
            }
        }
    </table>

    <a href="/RoleAdmin/Create"><button type="button" class="btn btn-success">Create</button></a>
    <hr />
    <a href="~/AdminUser/Index">User Accounts</a>

</div>
