@using CLS_SLE.Models;

@{
    ViewBag.Title = "AdminDashboard";
}

<h2>Admin Dashboard</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">First </a></li>
        <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab"> Second </a></li>
        <li role="presentation"><a href="#third" aria-controls="first" role="tab" data-toggle="tab"> Third </a></li>
        <li role="presentation"><a href="#fourth" aria-controls="second" role="tab" data-toggle="tab"> Fourth </a></li>
        <li role="presentation"><a href="#fifth" aria-controls="second" role="tab" data-toggle="tab"> Fifth </a></li>
        <li role="presentation"><a href="#sixth" aria-controls="first" role="tab" data-toggle="tab"> Sixth </a></li>
        <li role="presentation"><a href="#seventh" aria-controls="second" role="tab" data-toggle="tab"> Seventh</a></li>
    </ul>

    @{
        // Users and Security (Admin only)
        // Schools and Departments (Admin only)
        // Programs and Courses (all roles)
        // Assessments (all roles)
        // Program Assessment Mappings (all roles)
        // Assessment Scheduling (all roles)
    }
