@using CLS_SLE.Models;

@{
    ViewBag.Title = "AdminDashboard";
}

<h2><a href="~/Admin/AdminDashboard.cshtml">Admin Dashboard</a> | <a href="~/InstructorAssessments/Dashboard.cshtml">Faculty Dashboard</a></h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="first" role="tab" data-toggle="tab">Admin Dashboard </a></li>
        <li> | </li>
        <li role="presentation"><a href="#userSecurity" aria-controls="second" role="tab" data-toggle="tab"> Users and Security </a></li>
        <li> | </li>
        <li role="presentation"><a href="#programCourses" aria-controls="first" role="tab" data-toggle="tab"> Programs and Courses </a></li>
        <li> | </li>
        <li role="presentation"><a href="#assessments" aria-controls="second" role="tab" data-toggle="tab"> Assessments </a></li>
        <li> | </li>
        <li role="presentation"><a href="#assessmentMapping" aria-controls="second" role="tab" data-toggle="tab"> Program Assessment Mappings </a></li>
        <li> | </li>
        <li role="presentation"><a href="#scheduling" aria-controls="first" role="tab" data-toggle="tab"> Assessment Scheduling </a></li>
    </ul>

    @{
        // Users and Security (Admin only)
        // Schools and Departments (Admin only)
        // Programs and Courses (all roles)
        // Assessments (all roles)
        // Program Assessment Mappings (all roles)
        // Assessment Scheduling (all roles)
    }
