@using CLS_SLE.Models;

@{
    ViewBag.Title = "Admin Dashboard";
}

<!-- Nav tabs -->
<ul class="list-group list-group-flush">
    <li class="list-group-item h4"><a href="~/Admin/Assessments">Assessments</a></li>
    <li class="list-group-item h4"><a href="~/Admin/AssessmentScheduling">Assessment Scheduling</a></li>
    <li class="list-group-item h4"><a href="~/Admin/ProgramsCourses">Programs and Courses</a></li>
    <li class="list-group-item h4"><a href="~/Admin/AssessmentMappings">Program Assessment Mappings</a></li>
    <li class="list-group-item h4"><a href="~/Admin/SchoolsDepartments">Administrative Tasks</a></li>
    <li class="list-group-item h4"><a href="~/Admin/ViewUsers">Users & Roles</a></li>
</ul>



