@using CLS_SLE.Models;

@{
    ViewBag.Title = "Admin Dashboard";
}

<style>
    .card:hover {
        background: rgba(0,0,0,0.1);
        text-decoration: none;
        color: #007bff;
    }
    .card{
        padding-top:15%;
        padding-bottom:15%;
    }
</style>

<div class="row">



    <div class="col-4">
        <a href="~/Admin/Assessments" class="card">
            <div class="card-body text-center align-middle">
                <div class="card-title"><i class="fa fa-tasks fa-10x" aria-hidden="true"></i></div>
                <div class="card-text h2 font-weight-bold">Assessments</div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a href="~/Admin/ViewUsers" class="card">
            <div class="card-body text-center">
                <div class="card-title"><i class="fa fa-users fa-10x" aria-hidden="true"></i></div>
                <div class="card-text h2 font-weight-bold">Users &amp; Roles</div>
            </div>
        </a>
    </div>




    
</div>




