@using CLS_SLE.Models;

@{
    ViewBag.Title = "AdminDashboard";
}

<h2><a href="~/Admin/AdminDashboard">Admin Dashboard</a> | <a href="~/InstructorAssessments/Dashboard">Faculty Dashboard</a></h2>


    <!-- Nav tabs -->
    <a href="~/Admin/AdminDashboard">Admin Dashboard </a> | 
    <a href="~/Admin/UsersSecurity"> Users and Security </a> | 
    <a href="~/Admin/ProgramsCourses"> Programs and Courses </a> | 
    <a href="~/Admin/Assessments"> Assessments </a> | 
    <a href="~/Admin/AssessmentMappings"> Program Assessment Mappings </a> | 
    <a href="~/Admin/AssessmentScheduling"> Assessment Scheduling </a>

    @{
        // Users and Security (Admin only)
        // Schools and Departments (Admin only)
        // Programs and Courses (all roles)
        // Assessments (all roles)
        // Program Assessment Mappings (all roles)
        // Assessment Scheduling (all roles)
    }