@model CLS_SLE.Models.AssessmentMappingsViewModel
  
@{
    ViewBag.Title = "AssessmentMapping";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Mapping</li>
    </ol>
</nav>

<h2> Assessment Mapping </h2>




@foreach (var program in Model.Programs)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="h3">@program.Name <button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#assignRubric">Assign</button></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var rubric in Model.AssessmentRubrics)
            {
                <tr>
                    <td>
                        <p> @rubric.Name </p>
                        <div class="row">

                            @foreach (var course in Model.Courses)
                            {
                                foreach (var pam in Model.ProgramAssessmentMappings)
                                {
                                    if (pam.CourseID == course.CourseID && pam.RubricID == rubric.RubricID)
                                    {
                                        <ul class="">
                                            <li class="list-unstyled"><b>@course.CourseName</b></li>
                                        </ul>
                                    }
                                    }}
                            </div>
                    </td>
                </tr>
            }
        </tbody>


    </table>
}