@using CLS_SLE.Models;

@{
    ViewBag.Title = "ProgramDashboard";
}

    <style>
        .card:hover {
            background: rgba(0,0,0,0.07);
            text-decoration: none;
            color: #007bff;
            border-color: #007bff;
        }

        .card {
            padding-top: 15%;
            padding-bottom: 15%;
        }

        .section-link {
            color: rgb(0, 0, 106);
            text-shadow: 0 5px 1px rgba(0,0,0,0.2);
        }
    </style>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
            <li class="breadcrumb-item active" aria-current="page">Programs Dashboard</li>
        </ol>
    </nav>
    <div class="row">

        <div class="col-3 mt-5">
            <a href="/AdminSchool/Schools" class="card h-100">
                <div class="card-body text-center align-middle">
                    <div class="card-title"><i class="fas fa-school fa-9x section-link" aria-hidden="true"></i></div>
                    <div class="card-text h3 font-weight-bold text-wrap">Schools</div>
                </div>
            </a>
        </div>

        <div class="col-3 mt-5">
            <a href="/AdminDepartment/Departments" class="card h-100">
                <div class="card-body text-center align-middle">
                    <div class="card-title"><i class="fas fa-address-card fa-9x section-link" aria-hidden="true"></i></i></i></div>
                    <div class="card-text h3 font-weight-bold text-wrap">Departments</div>
                </div>
            </a>
        </div>


        <div class="col-3 mt-5">
            <a href="/AdminProgram/Programs?page=@(1)" class="card h-100">
                <div class="card-body text-center align-middle">
                    <div class="card-title"><i class="fas fa-chalkboard-teacher fa-9x section-link" aria-hidden="true"></i></div>
                    <div class="card-text h3 font-weight-bold text-wrap">Programs</div>
                </div>
            </a>
        </div>

        <div class="col-3 mt-5">
            <a href="/AdminCourse/Courses?page=@(1)" class="card h-100">
                <div class="card-body text-center align-middle">
                    <div class="card-title"><i class="fas fa-book fa-9x section-link" aria-hidden="true"></i></div>
                    <div class="card-text h3 font-weight-bold text-wrap">Courses</div>
                </div>
            </a>
        </div>

    </div>

