@using CLS_SLE.Models;

@{
    ViewBag.Title = "ScoreSetDashboard";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page"Score Set</li>
    </ol>
</nav>
<div>
    <h1>Score Set</h1>
</div>

