@using CLS_SLE.Models;
@{
    ViewBag.Title = "User Security";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">User Security</li>
    </ol>
</nav>

<h1>User Security</h1>
<br />

<h4><a href="/Admin/ViewUsers">Group by Users</a></h4>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="col-2">Role ID</th>
            <th class="col-3">Title</th>
            <th class="col-3">Current Users</th>
            <th class="col-4 justify-content-end"></th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (Role role in Model.Roles)
            {
                <tr data-userID="person.PersonID">
                    <td>@role.RoleID</td>
                    <td>@role.Name</td>
                    <td>
                        @{
                            if (role.UserRoles.Count() == 0)
                            {
                                <text>None</text>
                            }
                            else
                            {
                                <text>@role.UserRoles.Count()</text>
                            }
                        }
                    </td>
                    <td class="text-right"><a href="~/Admin/ViewRoleMembers?roleID=@role.RoleID"><button type="button" class="btn btn-primary mr-2">View</button></a></td>
                </tr>
            }
        }
    </tbody>
</table>
